---
---

@charset "utf-8";

@use 'sass:color';

$blog-title-font: 'plakatfrakturregular', 'PlakatFraktur-Heavy', serif;
$headline-font: 'Bitter', serif;
$text-font: 'Quattrocento', serif;

$black: #000;
$darkgrey: color.adjust($black, $lightness: 10%);
$lightgrey: color.adjust(white, $lightness: -8%);

$link-color: #0274f5;
$footer-text: color.adjust($lightgrey, $lightness: -35%);

@use 'modern-normalize';
@use 'mixins' as *;
@use 'gallery';
@use 'tables' with (
  $border-color: $lightgrey
);
@use 'footer' with (
  $text-color: $footer-text,
  $border-color: $lightgrey
);

@import url('//fonts.googleapis.com/css?family=Bitter:400,400i,700|Quattrocento:400,700&subset=latin-ext');
@import url('{{ site.baseurl }}/fonts/plakat-fraktur/font-face.css');

a {
  text-decoration: none;
  color: $link-color;

  &:focus {
    outline: thin dotted;
  }

  &:active,
  &:hover {
    outline: 0;
  }
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: $black;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: '\201E' '\201C' '\201A' '\2018';
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

a.button,
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: none;
  cursor: pointer;
  background: $link-color;
  color: white;
  border: 0;
  padding: 0.25em 0.5em;
  border-radius: 0.1875em;
  display: inline-block;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
  padding: 0;
}

input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: sans-serif;
  height: 100%;
  background-color: white;

  $diamond-size: 38px;
  $diamond-opacity: 0.4;
  background-image:
    repeating-linear-gradient(
      90deg,
      rgba(255, 0, 0, $diamond-opacity) 0%,
      rgba(255, 0, 0, $diamond-opacity) 25%,
      rgba(255, 255, 255, $diamond-opacity) 25%,
      rgba(255, 255, 255, $diamond-opacity) 75%,
      rgba(255, 0, 0, $diamond-opacity) 75%
    ),
    repeating-linear-gradient(
      0deg,
      rgba(255, 0, 0, $diamond-opacity) 0%,
      rgba(255, 0, 0, $diamond-opacity) 25%,
      rgba(255, 255, 255, $diamond-opacity) 25%,
      rgba(255, 255, 255, $diamond-opacity) 75%,
      rgba(255, 0, 0, $diamond-opacity) 75%
    );
  background-size:
    $diamond-size $diamond-size,
    $diamond-size $diamond-size;
  background-position: center, top;
  background-repeat: repeat, repeat;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: $text-font;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headline-font;
  font-weight: 700;
  line-height: 1.375em;
}

hgroup {
  margin-top: 1em;
  margin-bottom: 1em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.branding {
  text-align: center;
  font-family: $blog-title-font;
  font-weight: 400;
  font-size: 2.5em;
  color: $black;

  margin: 2rem auto 1rem;

  @include tablet {
    font-size: 3em;
  }

  @include desktop {
    font-size: 4em;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.single li.neuigkeiten a {
  background: #f2f2f2;
}

.menu {
  margin-top: 1em;
  border-top: 1px solid $lightgrey;
  border-bottom: 1px solid $lightgrey;
  width: 100%;
  padding: 0.5em 1em;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  @extend %clearfix;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      float: left;
      width: 50%;
      margin-bottom: 0.5em;

      &:nth-child(2n-1) {
        border-right: 1px solid $lightgrey;
        padding-right: 1em;
      }

      &:nth-child(2n) {
        padding-left: 1em;
      }

      &:last-child,
      &:nth-last-child(2) {
        margin-bottom: 0;
      }

      a:hover,
      &.current a {
        background: #f2f2f2;
      }

      a {
        width: 100%;
        text-decoration: none;
        color: #222;
        padding: 0.4375em 0;
        font-size: 1em;
        border-radius: 0.1875em;
        display: block;
        text-align: center;
        font-family: $headline-font;
        font-weight: 400;
      }

      @include tablet {
        width: 33.33333%;
        border: 0;
        margin-bottom: 0.5em;

        &:nth-child(2n-1) {
          border-right: 0;
          padding-right: 0;
        }

        &:nth-child(2n) {
          padding-left: 0;
        }

        &:nth-child(3n-1) {
          border-right: 1px solid $lightgrey;
          border-left: 1px solid $lightgrey;
          padding-right: 1em;
          padding-left: 1em;
        }

        &:nth-child(3n-2) {
          padding-right: 1em;
        }

        &:nth-child(3n) {
          padding-left: 1em;
        }

        &:nth-last-child(3) {
          margin-bottom: 0;
        }
      }
    }

    @extend %clearfix;
  }

  @include desktop {
    padding: 0.375em;

    ul {
      clear: left;
      float: right;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      right: 50%;
      text-align: center;

      li {
        float: left;
        position: relative;
        left: 50%;

        width: auto;
        margin-bottom: 0;

        &:nth-child(3n-1) {
          border: 0;
        }

        &:not(:last-child) {
          border-right: 1px solid $lightgrey;
          padding-right: 0.375em;
        }

        &:not(:first-child) {
          padding-left: 0.375em;
        }

        a {
          width: auto;
          padding: 0.375em 0.75em;
          border-radius: 0.1875em;
        }
      }
    }
  }
}

$menu-border-color: rgba(255, 255, 255, 0.2);

.home {
  .header {
    color: white;

    background-image: url(/assets/stoffelhaeusl.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

    @include tablet {
      max-width: initial;
    }
  }

  .branding {
    color: white;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  }

  .menu {
    backdrop-filter: blur(4px);
    border-color: $menu-border-color;
    border-style: solid;
    border-left-width: 0;
    border-right-width: 0;

    @include tablet {
      border-radius: 0.5em;
      border-left-width: 1px;
      border-right-width: 1px;
    }

    ul {
      li {
        border-color: $menu-border-color;

        a {
          color: black;
          mix-blend-mode: lighten;
          text-shadow: 0px 0px 2px white;
          background-color: rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 1px white inset;
        }

        &.current {
          a {
            background-color: rgba(255, 255, 255, 0.9);
          }
        }
      }
    }
  }
}

.nav-above,
.nav-below {
  text-align: center;
  margin-top: 1em;
}

.header {
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    max-width: 940px;
  }

  .content {
    background-color: transparent;
    font-size: 1.5em;
    padding: 2em;
    width: 100%;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    align-content: center;

    h1 {
      margin-top: 0;
      margin-bottom: 1em;
    }

    .button {
      color: black;
      background-color: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(4px);
    }
  }
}

figure {
  img {
    height: auto;
    display: block;
  }

  figcaption {
    margin-top: 0.5em;
    padding: 0.5em 0.75em;
    background: $lightgrey;
    line-height: 1.5em;
  }
}

.alignleft {
  @include tablet {
    float: left;
    margin-right: 1em;
  }

  @include desktop {
    margin-right: 1.25em;
  }
}

.alignright {
  @include tablet {
    float: right;
    margin-left: 1em;
  }

  @include desktop {
    margin-left: 1.25em;
  }
}

.alignleft,
.alignright {
  margin-bottom: 1em;

  &,
  img {
    max-width: 100%;
  }

  @include tablet {
    max-width: 50%;
  }
}

.content {
  @extend %clearfix;

  background-color: white;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.5em;
  padding: 2em;

  h1 {
    font-size: 2em;
    margin-top: 0;
  }

  @include tablet {
    max-width: 940px;
  }

  @include desktop {
    width: auto;
    font-size: 1.25em;
  }

  header {
    h1 {
      font-size: 1.5em;

      @include desktop {
        font-size: 2em;
      }
    }

    h2 {
      font-size: 1em;

      @include desktop {
        font-size: 1.5em;
      }
    }

    h1,
    h2 {
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $lightgrey;
    padding-bottom: 2em;
  }
}

.article-content,
.page-content {
  @extend %clearfix;
}

article,
section {
  hyphens: auto;

  .entry-meta {
    font-size: 0.75em;
  }

  .full {
    width: 100%;
    clear: both;
  }

  p {
    color: $darkgrey;
  }

  .full,
  p,
  table {
    margin: 0;

    &:not(:first-child) {
      margin-top: 1em;
    }

    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}

.aspect-ratio-16-9 {
  width: 100%;
  position: relative;
  padding-bottom: 100% * calc(1 / (16 / 9));
  height: 0;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}
