<header class="header">
  <div class="branding">
    <a href="{{ "/" | relative_url }}" title="{{ site.title | escape }}" rel="home">{{ site.title | escape }}</a>
  </div>

  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}

  {% if page_paths %}
    <nav class="menu">
      <ul id="menu-hauptmenu" class="sf-menu sf-js-enabled">
        {% for path in page_paths %}
          {% assign nav_page = site.pages | where: "path", path | first %}
          {% assign title = nav_page.title %}
          {% if nav_page.menu_title %}
          {% assign title = nav_page.menu_title %}
          {% endif %}
          {% if title %}
            {% assign actual = page.url | relative_url | downcase | split: '/' %}
            {% assign current = nav_page.url | relative_url | downcase | split: '/' %}
            <li{% if current[1] == actual[1] %} class='current'{% endif %}>
              <a class="page-link" href="{{ nav_page.url | relative_url }}">{{ title | escape }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
</header>
