footer {
  margin-top: 2em;

  p {
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    color: $footer-text;
    border-top: 1px solid $lightgrey;

    @include tablet {
      width: 50%;
    }
  }

  .sep {
    color: $lightgrey;
  }
}
