$text-color: magenta !default;
$border-color: magenta !default;

@use 'mixins' as *;

footer {
  background-color: white;
  margin: 0 auto;
  padding: 1em;
  border-top: 1px solid $border-color;

  @include tablet {
    max-width: 940px;
  }

  p {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: $text-color;
  }

  .sep {
    color: $border-color;
  }
}
