.gallery {
  .gallery-item {
    display: block;
    float: left;
    width: 31%;
    text-align: left;
    margin: 0;

    &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
      margin-top: 3.5%;
    }

    &:nth-of-type(3n-1) {
      margin-left: 3.5%;
      margin-right: 3.5%
    }

    .gallery-icon {
      display: block;
      padding-top: 100%;
      background-position: center;
      background-size: cover;
    }
  }
}
