.gallery-item {
  display: block;

  @include tablet {
    float: left;
    margin: 0;
  }

  @include tablet-only {
    width: 48%;

    &:not(:nth-child(1)):not(:nth-child(2)) {
      margin-top: 4%;
    }

    &:nth-of-type(2n) {
      margin-left: 4%;
    }
  }

  @include desktop {
    width: 31%;

    &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
      margin-top: 3.5%;
    }

    &:nth-of-type(3n-1) {
      margin-left: 3.5%;
      margin-right: 3.5%
    }
  }
}

.gallery-icon {
  display: block;
  padding-top: 100%;
  background-position: center;
  background-size: cover;
}
