$tablet: 521px;
$desktop: 721px;

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin border-radius($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}

@mixin box-shadow($s) {
  -webkit-box-shadow: $s;
  -moz-box-shadow: $s;
  box-shadow: $s;
}

@mixin hyphens {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

%clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}
